
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/PAWTools/.vs/*
library/PAWTools/PAWTools/bin/*
library/PAWTools/PAWTools/obj/*

# ignore PowerShell Studio MetaData
PAWTools/PAWTools.psproj
PAWTools/PAWTools.psproj.bak
PAWTools/PAWTools.psprojs
PAWTools/PAWTools.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*